<div class="col p-2">
    <h3 class="fw-bolder">Start a chat with:</h3>
    <div class="row">
        {{#each users as |user|}}
        <div class="d-grid col-6 col-lg-4">
            <button type="button" class="btn btn-outline-secondary userBtn" onclick="channelHandler({{username}})" id="{{username}}" class="card-body" type="button">{{username}}</button>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/newchannel.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/receivemsg.js"></script>