<div class="col">
    <h2>Start a chat with:</h2>
    {{#each users as |user|}}
        <div class="card">
            <button onclick="channelHandler({{username}})" id="{{username}}" class="card-body" type="button">{{username}}</button>
        </div>
    {{/each}}
</div>

<script src="/js/newchannel.js"></script>