html, 
body {
    height: 93%;
    background-color: #e0e0e0;
}

.left-col,
.right-col {
    float: left !important;
    max-height: 100%;
    overflow: scroll;
    margin-bottom: 100px;
}

.left-col {
    width: 25%;
}

.right-col {
    width: 75%;
}

.mainBody {
    height: 100%;
    /* overflow: scroll; */
}

.bodyDiv{
    height:100%
}

.right{
    left: 60% !important;
}
.left{
    left:10%;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
    z-index: 2;
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

#input:focus { outline: none; }
#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

.text-bg-success,
.text-bg-primary {
    z-index: 1;
}
.dark-mode {
    background-color: #121212;
    color: #03DAC5;
}
.dark-mode .left {
    background-color:#212121;
}
.dark-mode .right {
    background-color:#212121;
}
.dark-mode .text-bg-primary {
    background-color:#03DAC5 !important;
}
.dark-mode .text-bg-success{
    background-color: #BB86FC !important;
}
.text-bg-success{
    background-color: #6200EE !important;
}
.text-bg-primary{
    background-color: #018786 !important;
}
.dark-mode header {
    background-color:#212121 ;
}
.dark-mode #form {
    color: #03DA5D;
}
.dark-mode .red-font {
    color: #CF6679;
}
.nav-header{
    background-color: #6200EE;
}
.nav-text{
    color: white;
}
.card-body{
    background-color: white !important;
}
.card{
    box-shadow: 5px 5px 5px grey;
    margin: 10px;
    border-radius: 10px !important;
}
.userBtn{
    margin: 10px !important;
    box-shadow: 5px 5px 5px grey !important;
    color: black;
}